In [1]:
import pandas as pd

In [2]:
raw_data = {'id_pager': [1,2,3,4,5,6,7,8,9], 
        'numero_tel': [11,22,33,44,55,66,77,88,88], 
        'cod_area': [42, 52, 36, 24, 73,45,45,45,45], 
        'fecha_creacion': [4, 24, 31, 2, 3,3,3,3,3],
        'nombre': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy','Tina', 'Jake', 'Amy', 'Amy'],
        'region': ['norte','sur','norte','este','dacota','dacota','dacota','dacota','dacota'],
        'categoria': [25, 94, 57, 62, 70,6,6,6,6]}
clientes = pd.DataFrame(raw_data, columns = ['id_pager', 'numero_tel', 'cod_area', 'fecha_creacion', 'nombre','region','categoria'])
clientes

   id_pager  numero_tel  cod_area  fecha_creacion nombre  region  categoria
0         1          11        42               4  Jason   norte         25
1         2          22        52              24  Molly     sur         94
2         3          33        36              31   Tina   norte         57
3         4          44        24               2   Jake    este         62
4         5          55        73               3    Amy  dacota         70
5         6          66        45               3   Tina  dacota          6
6         7          77        45               3   Jake  dacota          6
7         8          88        45               3    Amy  dacota          6
8         9          88        45               3    Amy  dacota          6

In [3]:
raw_data = {'año': [2018,2017,2018,2019,2017,2019,2019,2019,2019,2019,2019,2019,2019,2019,2018,2019,2019,2109], 
        'mes': [10, 10,10,10,1010,10,10,10,10,10,10,11,11,10,10,10,10,10], 
        'id_pager': [1, 1, 1, 2, 2,3,4,5,5,5,5,5,5,2,4,3,6,6], 
        'mensaje': ['hola', 'urgente', 'ey','hola', 'urgente', 'ey','hola', 'urgente', 'ey','hola', 'urgente', 'ey','hola', 'urgente', 'ey','hola', 'urgente', 'ey'],
        'numero_origen': [25, 94, 57, 62, 70,25,25,25,25,25,25,25,25,25,25,45,25,25]}
eventos = pd.DataFrame(raw_data, columns = ['año', 'mes', 'id_pager', 'mensaje', 'numero_origen'])
eventos

     año   mes  id_pager  mensaje  numero_origen
0   2018    10         1     hola             25
1   2017    10         1  urgente             94
2   2018    10         1       ey             57
3   2019    10         2     hola             62
4   2017  1010         2  urgente             70
5   2019    10         3       ey             25
6   2019    10         4     hola             25
7   2019    10         5  urgente             25
8   2019    10         5       ey             25
9   2019    10         5     hola             25
10  2019    10         5  urgente             25
11  2019    11         5       ey             25
12  2019    11         5     hola             25
13  2019    10         2  urgente             25
14  2018    10         4       ey             25
15  2019    10         3     hola             45
16  2019    10         6  urgente             25
17  2109    10         6       ey             25

A]Region con mas pg activos (recibe mensaje ultimo mes)

In [4]:
eventos_recientes = eventos.loc[(eventos['mes']== 10) & (eventos['año']==2019)]

In [5]:
eventos_recientes_sin_repetir =eventos_recientes.drop_duplicates(subset='id_pager')
eventos_recientes_sin_repetir

     año  mes  id_pager  mensaje  numero_origen
3   2019   10         2     hola             62
5   2019   10         3       ey             25
6   2019   10         4     hola             25
7   2019   10         5  urgente             25
16  2019   10         6  urgente             25

In [6]:
union = eventos_recientes_sin_repetir.merge(clientes, on='id_pager',how='inner')
union

,año,mes,id_pager,mensaje,numero_origen,numero_tel,cod_area,fecha_creacion,nombre,region,categoria
0,2019,10,2,hola,62,22,52,24,Molly,sur,94
1,2019,10,3,ey,25,33,36,31,Tina,norte,57
2,2019,10,4,hola,25,44,24,2,Jake,este,62
3,2019,10,5,urgente,25,55,73,3,Amy,dacota,70
4,2019,10,6,urgente,25,66,45,3,Tina,dacota,6

In [7]:
region = union.groupby(['region']).agg({'id_pager':'count'}).reset_index()
region = region.rename(columns={'id_pager': 'cantidad_activos'})
region_max = region.nlargest(1,'cantidad_activos')
region_max

   region  cantidad_activos
0  dacota                 2

In [8]:
#B) %activo que tien 1 emisor
eventos_recientes

     año  mes  id_pager  mensaje  numero_origen
3   2019   10         2     hola             62
5   2019   10         3       ey             25
6   2019   10         4     hola             25
7   2019   10         5  urgente             25
8   2019   10         5       ey             25
9   2019   10         5     hola             25
10  2019   10         5  urgente             25
13  2019   10         2  urgente             25
15  2019   10         3     hola             45
16  2019   10         6  urgente             25

In [9]:

from collections import OrderedDict

def funcion(df):
    # lo usamos para preservar el orden de insercion
    data = OrderedDict()
    original = df['numero_origen'].count()
    df1 = df.drop_duplicates(subset='numero_origen')
    data['unico'] = 0 if ((original == df1['numero_origen'].count()) and (original != 1)) else 1
    data['final'] = df1['numero_origen'].count()

    return pd.Series(data)

In [15]:
cantidad_activos= eventos_recientes_sin_repetir['id_pager'].count()

cantidad_activos

5

In [14]:
test= eventos_recientes.groupby(['id_pager']).apply (funcion).reset_index()
unicos= test['unico'].sum()
unicos

3

In [12]:
porciento = (unicos/cantidad_activos)*100
porciento

60.0

fin

### spark

### 2) a)tiempo de juego total campeonato

In [2]:
#from pyspark import SparkContext
#sc = SparkContext(appName="EstimatePi")

In [58]:
jugadordd = [
    (12,"Mario Kart", 15, "argentina"),
    (22,"Mario", 4.1,"argentina"),
    (32,"gon", 128, "no"),
    (42,"pan", 43, "argentina"),
    (52,"win", 32.5, "argentina"),
    (62,"nop", 58, "argentina"),
    (72,"capaz", 25, "no")
]

estadisticardd = [
    (1,12, 15, 1,1),
    (1,32, 15, 1,1),
    (1,42, 15, 1,1),
    (1,52, 15, 1,1),
    (1,62, 15, 1,1),
    (1,72, 15, 1,1),
    (2,12, 4.1,1,1),
    (2,22, 4.1,1,1),
    (2,52, 4.1,1,1),
    (3,12, 128, 1,1),
    (4,12, 43, 1,1),
    (5,22, 32.5, 1,1),
    (6,32, 58, 1,1),
    (6,42, 58, 1,1),
    (6,62, 58, 1,1),
    (6,52, 58, 1,1),
    (7,42, 25, 1,1)
]

partidordd = [
    (1,2019, 2, "argentina"),
    (2,2018, 2,"argentina"),
    (3,2019, 1, "no"),
    (4,2019, 1, "argentina"),
    (5,2018, 1, "argentina"),
    (6,2018, 1, "argentina"),
    (7,2019, 2, "no")
]

jugador = sc.parallelize(jugadordd)
estadistica = sc.parallelize(estadisticardd)
partido = sc.parallelize(partidordd)

In [59]:
argentinos = jugador.filter(lambda x: x[3] == "argentina")
argentinos = argentinos.map(lambda x: (x[0],x[1]))
argentinos.collect()

[(12, 'Mario Kart'), (22, 'Mario'), (42, 'pan'), (52, 'win'), (62, 'nop')]

In [66]:
#id_partido v: año, semestre
partidos = partido.map(lambda x: (x[0],(str(x[1])+"-"+str(x[2]))))
partidos.collect()

[(1, '2019-2'),
 (2, '2018-2'),
 (3, '2019-1'),
 (4, '2019-1'),
 (5, '2018-1'),
 (6, '2018-1'),
 (7, '2019-2')]

In [67]:
#id_partidZo v: id_jugador, tiempo_jugado
estadisticas = estadistica.map(lambda x: (x[1],(x[0],x[2])))
union = estadisticas.join(argentinos)
union.collect()

[(42, ((1, 15), 'pan')),
 (42, ((6, 58), 'pan')),
 (42, ((7, 25), 'pan')),
 (12, ((1, 15), 'Mario Kart')),
 (12, ((2, 4.1), 'Mario Kart')),
 (12, ((3, 128), 'Mario Kart')),
 (12, ((4, 43), 'Mario Kart')),
 (52, ((1, 15), 'win')),
 (52, ((2, 4.1), 'win')),
 (52, ((6, 58), 'win')),
 (62, ((1, 15), 'nop')),
 (62, ((6, 58), 'nop')),
 (22, ((2, 4.1), 'Mario')),
 (22, ((5, 32.5), 'Mario'))]

In [68]:
union = union.map(lambda x: (x[1][0][0],(x[0],x[1][1],x[1][0][1])))
union = union.join(partidos)
union.collect() 
#id_p #id_j #nombre # tiempo #año #semestre

[(1, ((42, 'pan', 15), '2019-2')),
 (1, ((12, 'Mario Kart', 15), '2019-2')),
 (1, ((52, 'win', 15), '2019-2')),
 (1, ((62, 'nop', 15), '2019-2')),
 (2, ((12, 'Mario Kart', 4.1), '2018-2')),
 (2, ((52, 'win', 4.1), '2018-2')),
 (2, ((22, 'Mario', 4.1), '2018-2')),
 (3, ((12, 'Mario Kart', 128), '2019-1')),
 (4, ((12, 'Mario Kart', 43), '2019-1')),
 (5, ((22, 'Mario', 32.5), '2018-1')),
 (6, ((42, 'pan', 58), '2018-1')),
 (6, ((52, 'win', 58), '2018-1')),
 (6, ((62, 'nop', 58), '2018-1')),
 (7, ((42, 'pan', 25), '2019-2'))]

In [168]:
def ant(x):
    anio,semestre=x.split("-")
    anio = int(anio)
    semestre = int(semestre)
    semestre = semestre +1
    if(semestre == 3):
        anio = anio+1
        semestre =  1
    resultado = str(anio)+"-"+str(semestre)
    return resultado

In [169]:
res = union.map(lambda x: ((x[1][1],x[1][0][0]),(x[1][0][1],x[1][0][2]))).reduceByKey(lambda x,y: (x[0],x[1]+y[1]))

res.collect()

[(('2019-2', 52), ('win', 15)),
 (('2018-1', 22), ('Mario', 32.5)),
 (('2019-2', 42), ('pan', 40)),
 (('2018-1', 52), ('win', 58)),
 (('2019-2', 12), ('Mario Kart', 15)),
 (('2018-2', 52), ('win', 4.1)),
 (('2018-1', 62), ('nop', 58)),
 (('2019-2', 62), ('nop', 15)),
 (('2018-2', 22), ('Mario', 4.1)),
 (('2018-2', 12), ('Mario Kart', 4.1)),
 (('2019-1', 12), ('Mario Kart', 171)),
 (('2018-1', 42), ('pan', 58))]

In [183]:
def ordenar(x):
    anio,mes = x.split('-')
    return anio
def ordenar2(x):
    anio,mes = x.split('-')
    return mes

In [199]:
res2= res.sortBy(lambda x: (ordenar(x[0][0]),ordenar2(x[0][0])))
res2 = res2.flatMap(lambda x: [((x[0][0],x[0][1],x[1][0]),(x[1][1])),((ant(x[0][0]),x[0][1],x[1][0]),(x[1][1]))])

res2.collect()

[(('2018-1', 22, 'Mario'), 32.5),
 (('2018-2', 22, 'Mario'), 32.5),
 (('2018-1', 52, 'win'), 58),
 (('2018-2', 52, 'win'), 58),
 (('2018-1', 62, 'nop'), 58),
 (('2018-2', 62, 'nop'), 58),
 (('2018-1', 42, 'pan'), 58),
 (('2018-2', 42, 'pan'), 58),
 (('2018-2', 52, 'win'), 4.1),
 (('2019-1', 52, 'win'), 4.1),
 (('2018-2', 22, 'Mario'), 4.1),
 (('2019-1', 22, 'Mario'), 4.1),
 (('2018-2', 12, 'Mario Kart'), 4.1),
 (('2019-1', 12, 'Mario Kart'), 4.1),
 (('2019-1', 12, 'Mario Kart'), 171),
 (('2019-2', 12, 'Mario Kart'), 171),
 (('2019-2', 52, 'win'), 15),
 (('2020-1', 52, 'win'), 15),
 (('2019-2', 42, 'pan'), 40),
 (('2020-1', 42, 'pan'), 40),
 (('2019-2', 12, 'Mario Kart'), 15),
 (('2020-1', 12, 'Mario Kart'), 15),
 (('2019-2', 62, 'nop'), 15),
 (('2020-1', 62, 'nop'), 15)]

In [196]:
re3 = res2.groupByKey().map(lambda x: (x[0][2],list(x[1])))
re3=re3.filter(lambda x:  (len(x[1])==2))
re3.collect()

[('Mario Kart', [4.1, 171]),
 ('Mario Kart', [171, 15]),
 ('win', [58, 4.1]),
 ('Mario', [32.5, 4.1])]

In [197]:
re4 =  re3.filter(lambda x: ((((x[1][1]-x[1][0])/x[1][0])>0.5)))
re4=re4.map(lambda x: x[0])
re4.collect()

['Mario Kart']